@import "normalize";
@import "variables";
@import "mixins";
@font-face {
  font-family: 'icomoon';
  src:url('../../../public/font/icomoon.eot?-r84dvw');
  src:url('../../../public/font/icomoon.eot?#iefix-r84dvw') format('embedded-opentype'),
  url('../../../public/font/icomoon.ttf?-r84dvw') format('truetype'),
  url('../../../public/font/icomoon.woff?-r84dvw') format('woff'),
  url('../../../public/font/icomoon.svg?-r84dvw#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
//initialization
ul{
  list-style: none;
  margin:0;
  padding:0;
}
ul li{
  display:inline-block;
}

//top bar
.top-bar{
  width:100%;
  height:55px;
  background:$eblack;
  @at-root{
    .top-bar-box{
      height:100%;
      width:960px;
      @include h-center-child;
      @at-root {
        .main-logo{
          float:left;
          height:100%;
          width:68px;
          cursor:pointer;
          @include spirit-img("../image/logo-9.png",-52px);
          &:hover{
            @include spirit-img("../image/logo-9.png",2px);
          }
        }
        .top-bar-items{
          float:right;
          height:100%;
          font-size:18px;
          font-family: "Microsoft Yahei";
          color:#fff;

          @include v-center;
          li{
            cursor:pointer;
            margin:0 10px;
            opacity:0.7;
            &:hover{
            opacity:1;
          }
          }

          }
          @at-root {
            .search-box{
              position:relative;
              opacity: 1!important;
            }
            .search-box-icon{
              @include v-center;
              position:absolute;
              left:3px;
              font-family: 'icomoon';
              height:100%;
              span{
                color:lightgray;
                &:hover{
                  opacity:1;
                  color:#fff;
                }
              }
            }
            .search-box-input{
              border-radius: 4px;
              border:none;
              outline:none;
              text-indent:23px;
              width:20px;
              color:black;
              opacity:0;
              transition:0.4s;
              padding:2px;
              cursor:pointer;
              &:focus{
                width:200px;
                cursor:initial;
                opacity:1;
              }
            }
          }
        }
      }
    }
  }

