@import "normalize";
@import "variables";
@import "mixins";
@font-face {
  font-family: 'icomoon';
  src:url('../../../public/font/icomoon.eot');
  src:url('../../../public/font/icomoon.eot') format('embedded-opentype'),
  url('../../../public/font/icomoon.ttf') format('truetype'),
  url('../../../public/font/icomoon.woff') format('woff'),
  url('../../../public/font/icomoon.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
.center{
  margin:0 auto;
}
ul{
  list-style: none;
  margin:0;
  padding:0;
}

.top-bar{
  width:$P100;
  background:$eblack;
  height:55px;
  @at-root{
    .top-bar-box{
      @extend .center;
      @include box-sizing;
      width:960px;
      height:$P100;
      @at-root {
        .main-logo {
          float: left;
          height: $P100;
          width:60px;
          cursor:pointer;
          @include bkg-center;
          @include box-sizing;
          padding: 2px 0px;
          background-image: url("../image/logo-8.png");
          &:hover{
            background-image:url("../image/logo-6.png");
          }
        }
        .top-bar-item {
          float: right;
        }
      }
    }
    }
  }
